body {
    background-color: white;
}
h1, h2 {
    text-align: center;
}
select {
    width: 100%;
    font-size: 18px;
    background-color: rgb(212, 228, 222);
    color:black;
}
table {
    width: 75%;
}
table, th, td {
    border: 2px solid black;
    text-align: center;
    padding: 5px;

}
p {
    font-size: 18px;
    padding: 5px;
}
th {
    background-color: rgba(88, 89, 90, 0.541);
    font-size: 18px
}
#compList th, td{
    width: 35px;
}
#compList tr:hover, #runtimes tr:hover{
    background-color: rgb(65, 235, 73);
    cursor: pointer;
}
.modal-header{
    background-color: lightblue;
}
#competitorDisplay {
    background-color: white;
    color:black;
    border: solid 2px black;
    border-radius: 4px;
    padding: 10px;
}