h1, h2 {
    text-align: center;
}
select {
    width: 175px;
}
table {
    width: 75%;
}
table, th, td {
    border: 2px solid black;
    text-align: center;
    padding: 5px;

}
th {
    background-color: lightblue;
    font-size: 20px
}
#compList th, td{
    width: 50px;
}
#compList, #runtimes tr:hover{
    background-color: lightgray;
    cursor: pointer;
}
.modal-header{
    background-color: lightblue;
}